:local(.fav_icon) {
    color: #D2BC92;
    padding: 10px;
    float: right;
    cursor: pointer;
    margin-top: -7px;
    margin-right: -7px;
}

:local(.fav_icon_active:before) {
    content: "\f004"!important;
}