:local(.container) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

:local(.item) {
    background: #fff;
    width: 33.33%;
    margin: 10px;
    overflow: hidden;
    max-width: 320px;
    min-width: 160px;
    border: 1px solid #ccc;
}

:local(.item) img {
    display: block;
    margin: 15px auto 0;
    max-width: 95%;
    cursor: pointer;
}

:local(.button_container) {
    width: 100%;
    display: flex;
    justify-content: center;
}

:local(.button_container) button {
    background-color: #fff;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #D2BC92;
    cursor: pointer;
    color: #D2BC92;
    font-size: 14px;
    padding: 15px 45px;
    margin-top: 15px;
    text-transform: uppercase;
    outline: none;
}

:local(.button_container .disabled) {
    display: none;
}

:local(.item) a {
    text-decoration: none;
}

:local(.item_price_label) {
    padding: 15px;
}