:local(.wrapper) {
    margin: 0 auto;
    padding: 10px;
    max-width: 90%;
    content: "";
    display: table;
    clear: both;
}

:local(.item) {
    background: #fff;
    background-clip: content-box;
    margin: 10px;
    float: left;
    width: 33.33%;
    overflow: hidden;
    max-width: 320px;
    border: 1px solid #ccc;
}

:local(.item) img {
    display: block;
    margin: 15px auto 0;
    max-width: 95%;
    cursor: pointer;
}

:local(.button_container) button {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #D2BC92;
    cursor: pointer;
    color: #D2BC92;
    font-size: 14px;
    padding: 15px 45px;
    text-transform: uppercase;
    outline: none;
}

:local(.button_container .disabled) {
    display: none;
}

:local(.item) a {
    text-decoration: none;
}

:local(.item_price_label) {
    color: #000;
    padding: 15px;
}